In [1]:
import pandas as pd

df = pd.read_csv("CovidIndiaData-01-04-2020.csv")

df.dropna(inplace = True)
print(df)

    Confirmed CountryReg  Deaths  LastUpdate   Latitude  Longitude  Province
0           1      India       0  2020-01-30   0.000000    0.00000         0  \
1           1      India       0  2020-01-31   0.000000    0.00000         0
2           1      India       0  2020-01-31   0.000000    0.00000         0
3           2      India       0  2020-02-02   0.000000    0.00000         0
4           3      India       0  2020-02-03   0.000000    0.00000         0
..        ...        ...     ...         ...        ...        ...       ...
57        887      India      20  2020-03-27  20.593684   78.96288         0
58        987      India      24  2020-03-28  20.593684   78.96288         0
59       1024      India      27  2020-03-29  20.593684   78.96288         0
60       1251      India      32  2020-03-30  20.593684   78.96288         0
61       1397      India      35  2020-03-31  20.593684   78.96288         0

    Recovered  week  Recovery_Percentage  Death_Percentage
0           0     5                  0.0               0.0  \
1           0     5                  0.0               0.0
2           0     5                  0.0               0.0
3           0     5                  0.0               0.0
4           0     6                  0.0               0.0
..        ...   ...                  ...               ...
57         73    13                  8.0               2.0
58         84    13                  9.0               2.0
59         95    13                  9.0               3.0
60        102    14                  8.0               3.0
61        123    14                  9.0               3.0

    Percent_of_change_over_last_day  No_Of_Days
0                               0.0           0
1                               0.0           1
2                               0.0           2
3                             100.0           3
4                              50.0           4
..                              ...         ...
57                             22.0          57
58                             11.0          58
59                              4.0          59
60                             22.0          60
61                             12.0          61

[62 rows x 13 columns]

In [2]:
week_group = df.groupby('week')
print(week_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000273FFA4F890>

In [3]:
df.info

<bound method DataFrame.info of     Confirmed CountryReg  Deaths  LastUpdate   Latitude  Longitude  Province
0           1      India       0  2020-01-30   0.000000    0.00000         0  \
1           1      India       0  2020-01-31   0.000000    0.00000         0
2           1      India       0  2020-01-31   0.000000    0.00000         0
3           2      India       0  2020-02-02   0.000000    0.00000         0
4           3      India       0  2020-02-03   0.000000    0.00000         0
..        ...        ...     ...         ...        ...        ...       ...
57        887      India      20  2020-03-27  20.593684   78.96288         0
58        987      India      24  2020-03-28  20.593684   78.96288         0
59       1024      India      27  2020-03-29  20.593684   78.96288         0
60       1251      India      32  2020-03-30  20.593684   78.96288         0
61       1397      India      35  2020-03-31  20.593684   78.96288         0

    Recovered  week  Recovery_Percentage  Death_Percentage
0           0     5                  0.0               0.0  \
1           0     5                  0.0               0.0
2           0     5                  0.0               0.0
3           0     5                  0.0               0.0
4           0     6                  0.0               0.0
..        ...   ...                  ...               ...
57         73    13                  8.0               2.0
58         84    13                  9.0               2.0
59         95    13                  9.0               3.0
60        102    14                  8.0               3.0
61        123    14                  9.0               3.0

    Percent_of_change_over_last_day  No_Of_Days
0                               0.0           0
1                               0.0           1
2                               0.0           2
3                             100.0           3
4                              50.0           4
..                              ...         ...
57                             22.0          57
58                             11.0          58
59                              4.0          59
60                             22.0          60
61                             12.0          61

[62 rows x 13 columns]>

In [4]:
week_group["Confirmed"].mean()

week
5        1.250000
6        3.000000
7        3.000000
10      24.571429
11      75.857143
12     225.857143
13     759.571429
14    1324.000000
Name: Confirmed, dtype: float64

In [5]:
week_group['Confirmed'].agg(['mean','sum','std'])

             mean   sum         std
week
5        1.250000     5    0.500000
6        3.000000    30    0.000000
7        3.000000    54    0.000000
10      24.571429   172   13.818552
11      75.857143   531   25.082720
12     225.857143  1581  103.657173
13     759.571429  5317  211.087547
14    1324.000000  2648  103.237590

In [6]:
week_summary = week_group['Confirmed'].agg(['mean','sum','std']).rename(columns={'mean':'Mean Confirmed Case', 'sum':'Total Confirmed Case', 'std':'Standard Deviation of Confirmed Case'})
print(week_summary)

      Mean Confirmed Case  Total Confirmed Case
week
5                1.250000                     5  \
6                3.000000                    30
7                3.000000                    54
10              24.571429                   172
11              75.857143                   531
12             225.857143                  1581
13             759.571429                  5317
14            1324.000000                  2648

      Standard Deviation of Confirmed Case
week
5                                 0.500000
6                                 0.000000
7                                 0.000000
10                               13.818552
11                               25.082720
12                              103.657173
13                              211.087547
14                              103.237590

In [7]:
week_summary.sort_values(by="Total Confirmed Case", ascending=False)

,Mean Confirmed Case,Total Confirmed Case,Standard Deviation of Confirmed Case
week,,,
13,759.571429,5317,211.087547
14,1324.000000,2648,103.237590
12,225.857143,1581,103.657173
11,75.857143,531,25.082720
10,24.571429,172,13.818552
7,3.000000,54,0.000000
6,3.000000,30,0.000000
5,1.250000,5,0.500000